
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4 class="media-heading">{{item_info.name}}</h4>
            <p>Base: {{base}}</p>
            <p>Price: $ {{item_info.price}}</p>
            <p>Posted by: {{seller_info.name}} ({{seller_info.rank}})</p>
            <h4>Description and additional comments</h4>
            <p>{{item_info.description}}</p>
        </div>
        <div class="col-md-6">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/47/Spongebob-squarepants.svg/666px-Spongebob-squarepants.svg.png" alt="{{item_info.image_link}}" style="width: 30%; height: 30%">
        </div>

    </div>

    <!-- NEED TO DECIDE IF WE ARE GOING TO PUT THE SELLER'S CONTACT INFO PUBLICLY OR HAVE SOMETHING LIKE THE BELOW -->

    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <h4>Send an email to the seller:</h4>
                <textarea class="form-control" rows="5" id="comment" style="overflow-y: auto"></textarea>
            </div>
            <button type="submit" class="btn btn-default">Send</button>
        </div>
    </div>
</div>