
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4 class="media-heading" value="{{item_info.name}}" id="item_name_seller">{{item_info.name}}</h4>
            <p>Base: {{base}}</p>
            <p>Price: $ {{item_info.price}}</p>
            <p>Posted by: {{seller_info.name}} ({{seller_info.rank}})</p>
            <h4>Description and additional comments</h4>
            <p>{{item_info.description}}</p>
        </div>
        <div class="col-md-6">
            <img src="{{item_info.image_link}}" alt="product image" style="width: 75%">
        </div>

    </div>

    <!-- NEED TO DECIDE IF WE ARE GOING TO PUT THE SELLER'S CONTACT INFO PUBLICLY OR HAVE SOMETHING LIKE THE BELOW -->
    <p style="color: green; display: none" id="message_success">Your message was sent successfully!</p>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <h4>Send an email to the seller:</h4>
                <textarea class="form-control" rows="5" id="comment" style="overflow-y: auto"></textarea>
            </div>
            <button value="{{seller_info.id}}" type="submit" class="btn btn-default" id="send_email">Send</button>
        </div>
    </div>
</div>