<section class="container row">
	{{#if user}}
		<div class="container profile col-xs-12 col-md-6">
			<p> {{user.name}} </p>
			<p> Rank: {{user.rank}} </p>
			<p> Base: {{base.base_name}} </p>
			<img src="{{user.image_link}}" alt="{{user.name}}'s Picture" style="width: 30%; height: 30%">

		</div>

		<div class="container posts col-xs-12 col-md-6">
			{{#each items}}
				<div class="row">
					<div class="col-md-6">
						<strong class="media-heading h3">{{this.name}}</strong>
						<p>Base: {{this.BaseName}}</p>
						<p>Price: $ {{this.price}}</p>
						<p>Posted by: {{this.UserName}} ({{this.UserRank}})</p>
						<strong class="h4">Description and additional comments</strong>
						<p>{{this.description}}</p>
						<p><button type="submit" class="btn btn-danger text-center delete-post-btn" data-id="{{this.id}}">Delete Post</button></p>
					</div>
				
					<div class="col-md-6">
						<img src="{{this.image_link}}" alt="https://upload.wikimedia.org/wikipedia/en/thumb/4/47/Spongebob-squarepants.svg/666px-Spongebob-squarepants.svg.png" style="width: 100%">
					</div>
				</div>
				{{else}}
				<p>No items posted yet.</p>
			{{/each}}
		</div>
	

		{{else}}
		<h1> You are not logged in. Please log in before attempting to access this page. </h1>
		{{/if}}
</section>